html {
  line-height: 1.15;
  font-size: 16px;
  font-family: 'Roboto'
}
body {
  background-color: rgb(223, 230, 238);
}

.wrapper {
  background-color: rgb(237, 242, 247);
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 100vh;
}

.wrapper > main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.wrapper > aside {
  padding: 10px;
  overflow-y: auto;
}
